<h1>littleRunner2</h1>

<div id="game">
  <div id="canvasContainer"></div>
  <div id="lives">A B C</div>
  <div id="highscore"></div>
  
  <div id="gameOver">
    <h2>Game over.</h2>
    <a href="/">Retry?</a>
  </div>
</div>
