<div class="text">
  <h2>Imprint</h2>
  <br />

  <a href="http://www.andreasgerstmayr.at">Andreas Gerstmayr</a><br />
  4490 St. Florian<br />

  <br />

  <strong>E-Mail:</strong> andihit@andihit.net<br />
  <strong>Internet:</strong> <a href="http://www.andreasgerstmayr.at">http://www.andreasgerstmayr.at</a><br />
  <br />
</div>
