@import url(http://fonts.googleapis.com/css?family=Salsa);
@import 'nib'

*
  margin: 0
  padding: 0


html, body
  height: 100%


body
  font-family: Salsa, cursive
  background-image: url(../images/dark_wood.png)
  color: #fff


a, a:link
  color: #fff
  text-decoration: none
  
a:hover
  text-decoration: underline
