@import 'nib'
@import url(http://fonts.googleapis.com/css?family=Salsa)

*
  margin: 0
  padding: 0

html, body
  height: 100%
  
body
  background-image: url(../images/dark_wood.png)

#game-view
  position: relative
  width: 1024px
  height: 100%
  margin: 0 auto

h1
  position: absolute
  width: 100%
  top: 50%
  margin-top: -256px - 90px
  
  font-family: Salsa, cursive
  font-size: 48px
  font-weight: normal
  text-align: center
  letter-spacing: 2px
  color: #fff

a, a:link
  text-decoration: none
