@import 'nib'

#game-view
  #highscore
    top: 0
    right: 0
    width: 160px
    height: 68px
    
    margin: 20px
    padding: 7px
    font-size: 15px
    font-weight: normal
    letter-spacing: 0.5px
    text-align: right
    color: #000
    
    background-color: rgba(210, 210, 210, .5)
    border: 1px solid #C4C4C4
    border-radius: 7px
    box-shadow: 3px 3px 7px #ccc
    